@{
    ViewData["Title"] = "Home Page";
}

<style>
    img {
        width: 150px;
        height: 150px;
    }
</style>

<table>
    <tbody>
        <tr>
            <td rowspan="3">
                <img alt="Profile Image" src="~/Images/Profileimage.jpg" />
            </td>
            <td>
                <span>Ernesto Juarez</span>
                <button>Follow</button>
            </td>
        </tr>
        <tr>
            <td>
                <span>6 Post</span>
                <span>No Followers</span>
                <span>0 Following</span>
            </td>
        </tr>
        <tr>
            <td>
                <span>This is an example description</span>
            </td>
        </tr>
    </tbody>
</table>
<br />
<a href="#">POSTS</a>
<a href="#">REELS</a>
<a href="#">IGTV</a>
<a href="#">TAGGED</a>
<br />
<table>
    <tbody>
        <tr>
            <td>
                <img src="~/Images/Image01.png" alt="Image1" />
            </td>
            <td>
                <img src="~/Images/Image02.png" alt="Image2" />
            </td>
            <td>
                <img src="~/Images/Image03.png" alt="Image3" />
            </td>
        </tr>
        <tr>
            <td>
                <img src="~/Images/Image04.png" alt="Image4" />
            </td>
            <td>
                <img src="~/Images/Image05.jpg" alt="Image5" />
            </td>
            <td>
                <iframe width="150" height="150" src="https://www.youtube.com/embed/VzgHFrhG_1Q" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </td>
        </tr>
    </tbody>
</table>